{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TummySafe</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li><a href="/">Tummysafe</a></li>
            </ul>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><a href="{% url 'user_places' %}">My Places</a></li>
                <li><a href="{% url 'all_places' %}">The Feed</a></li>
                <li><a href="{% url 'places_create' %}">Add a Discovery</a></li>
            {%else%}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {%endif%}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>