{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="flex flex-col" id="hero">
  <div class="flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
      <h1 class="max-w-md text-3xl font-bold text-center md:text-5xl md:textleft">Bringing <span>safety<span> to the forefront of the <span>streetfood</span> experience. Keep your Tummysafe.</h1>
    </div>
    <div >
      <img src="{% static 'assets/tummysafe.png' %}" alt="">
    </div>
  </div>
</section id="hero">
<div class="container flex flex-col md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-6" id="description ">

  <div class="flex flex-col mb-auto space-y-12 md:w-1/2">
    <h2 class="max-w-md text-4xl font-bold text center md:text-left md:text-5xl md:mx-3">
      What's different about Tummysafe?
    </h2>
    <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
      Tummysafe uses a patented gamification nural-network to evaluate true trust in our reviews.
    </p>
  </div>

  <div class="flex flex-col space-y-8 md:w-1/2">
    <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row ">
      <div class="rounded-l-full bg-sky-200 md:bg-transparent">
        <div class="flex items-center space-x-2">
          <div class="px-4 py-2 text-black rounded-full md:py-1 bg-sky-200">
            01
          </div>
          <h3 class="text-base font-bold md:mb-4 md:hidden">
            Don't become sick with a foodborne illness.
          </h3>
        </div>
      </div>
      
      <div>
        <h3 class="hidden mb-4 text-lg font-bold md:block">
          Find a social-proof network for purchasing local food.
        </h3>
        <p class="text-black">
          Whether you're new to the area or used to using word-of-mouth to know where it's safe to eat, stay Tummysafe.
        </p>
      </div>
    </div>

    <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
      <div class="rounded-l-full bg-sky-200 md:bg-transparent">
        <div class="flex items-center space-x-2">
          <div class="px-4 py-2 text-black rounded-full md:py-1 bg-sky-200">
            02
          </div>
          <h3 class="text-base font-bold md:mb-4 md:hidden">
            Earn badges as your trust score grows!
          </h3>
        </div>
      </div>
      
      <div>
        <h3 class="hidden mb-4 text-lg font-bold md:block">
          Read the experience of others as well as earn badges based off your contributions and trustworthiness. 
        </h3>
        <p class="text-black">
          For TummySafe to keep our users happy and healthy while they're experiencing the true culture of an area, we use advanced algorithms to ensure our badge of trust has great meaning. 
        </p>
      </div>
    </div>

    <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
      <div class="rounded-l-full bg-sky-200 md:bg-transparent">
        <div class="flex items-center space-x-2">
          <div class="px-4 py-2 text-black rounded-full md:py-1 bg-sky-200">
            03
          </div>
          <h3 class="text-base font-bold md:mb-4 md:hidden">
            Connect with local people and grow bonds in the neighborhoods you explore.
          </h3>
        </div>
      </div>
      
      <div>
        <h3 class="hidden mb-4 text-lg font-bold md:block">
          Connect with local people and grow bonds in the neighborhoods you explore.        
        </h3>
        <p class="text-black">
          TummySafe's mission is to provide a platform where trustworthy reviews can thrive in the street food scene. 
        </p>
      </div>
    </div>
  </div>

</div>

<div class="flex flex-wrap justify-center block">
{% for place in places %}
{% comment %} <div>{{photos.url}}</div> {% endcomment %}
<div class="bg-sky-200 rounded-lg m-2 ">
  <div class="max-w-sm bg-white max-h-sm rounded m-4 p-4 overflow-hidden shadow-lg hover:text-sky-400">
    <div class="container flex flex-col items-center md:flex-row">
      <img class="w-full" src="{{place.photo_set.all.url}}" alt="Photo">
      <a href="{% url 'places_detail' place.id %}">
        <div class="px-6 whitespace-nowrap py-4">
                <h2 class="font-bold text-xl mb-2">{{ place.name }}</h2>
                <div class="block">
                  <p class="text-gray-700 text-base">{{ place.address }}</p>
                  <p class="text-gray-700 text-base">Description: {{ place.get_health_rating_display }}</p>
              </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}